.App {
  background-color: white;
  border-right: 1px solid #e1edff;
  border-bottom: 1px solid #e1edff;
  margin: 2rem;
  padding: 3rem 2rem;
  border-radius: 10px;
}
.cty {
  border: 1rem solid grey;
  padding: 5px 10px;
  margin-left: 0.5rem;
}
